<div class="">
<div class="content">
  <svg class="angular-logo">
    <image href="../../../assets/Foto.JPG" width="100%" height="100%" />
  </svg>
  <h1>Franco Cuesta</h1>
</div>
<p>
  <!-- En mi trayectoria como programador, me distingo por mi naturaleza tranquila 
  y mi constante búsqueda de conocimiento. Me considero un autodidacta apasionado 
  en explorar nuevas tecnologías y mejorias en mis habilidades. Mi enfoque meticuloso 
  en los detalles no solo se refleja en mi código, sino también en mi dedicación a la 
  excelencia en cada proyecto. Estoy comprometido a crecer y superarme constantemente, 
  contribuyendo al éxito y la innovación en cada tarea que emprendo. -->
  Soy un tecnólogo informático especializado en desarrollo web y automatización de procesos,
  con experiencia en la implementación de soluciones que optimizan la eficiencia,
  como el desarrollo de un chatbot que mejoró el soporte al usuario en consultas frecuentes. 
  Me apasiona enfrentar nuevos retos en empresas tecnológicas que valoren la innovación y el crecimiento continuo.
</p>
</div>